<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <div>
       <a routerLink="/">
          {{ title }}
       </a>
     </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a routerLink="/inicio">
              <span class="label" *ngIf="isAdmin()">Usuarios</span>
              <span class="label" >Inicio</span>
            </a>
          </li>
          <li title="LOGIN">
            <a
              *ngIf="!authenticated()" 
              routerLink="/evento/crear" >
              <span class="label">Crear Evento</span>
            </a>
          </li>
          <li>
            <a 
              *ngIf="authenticated()" 
              routerLink="/dashboard"
            >
              <span class="label">Dashboard</span>
            </a>
          </li>
          <li title="LOGIN">
            <a
              *ngIf="!authenticated()" 
              routerLink="/login" >
              <mat-icon>person</mat-icon>
            </a>
          </li>
          <li title="LOGOUT">
            <a
              *ngIf="authenticated()"
              (click)="logout()"  
            >
              <mat-icon>logout</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>