<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Ingreso</mat-card-title>
      </mat-card-header>
  
      <form  [formGroup]="userForm" class="form" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput formControlName="password" type="password" placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-flat-button color="accent" class="btn-block" type="submit">Ingresar</button>

        <a mat-stroked-button color="primary" class="margin-top btn-block mat-primary" routerLink="/register" >Register</a>
      </form>
    </mat-card>
  
  </div>