<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" *ngIf="evento">
      <mat-card-header>
        <mat-card-title>{{ evento.titulo }}</mat-card-title>
        <mat-card-subtitle>Acceso a Votacion</mat-card-subtitle>
      </mat-card-header>
  
      <form  [formGroup]="userForm" class="form" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput formControlName="password" type="password" placeholder="Password" required>
            <mat-error *ngIf="userForm.invalid">Contraseña Incorrecta</mat-error>
          </mat-form-field>
        </mat-card-content>
        <button mat-flat-button color="accent" class="btn-block" type="submit">Acceder</button>
      </form>
    </mat-card>
  
  </div>