<div class="container">
    <div *ngIf="evento" fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{evento.titulo | uppercase}}</mat-card-title>
                <mat-card-subtitle>#{{evento.id}}</mat-card-subtitle>
            </mat-card-header>
            
            <form  [formGroup]="this.form" (ngSubmit)="onSubmit()" >
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item class="padding-small" *ngIf="evento.desde==evento.hasta" role="listitem"><span>Fecha:</span> {{evento.desde | date: 'd/M/y'}}</mat-list-item>
                        <mat-list-item class="padding-small" *ngIf="evento.desde!=evento.desde" role="listitem"><span>Desde:</span> {{evento.desde | date: 'd/M/y'}}</mat-list-item>
                        <mat-list-item class="padding-small" *ngIf="evento.hasta!=evento.hasta" role="listitem"><span>Hasta:</span> {{evento.hasta | date: 'd/M/y'}}</mat-list-item>
                        <mat-list-item class="padding-small" role="listitem"><span>Duracion:</span>{{evento.duracion}}</mat-list-item>
                    </mat-list>
                    <mat-divider></mat-divider>
                    <h4>Descripcion: </h4>
                    <p class="paddin-card" >{{evento.descripcion}}</p>
                    <div *ngIf="!userService.authenticated()">
                        <mat-divider></mat-divider>
                        <h4>Usuario</h4>
                        <mat-form-field class="full-width-input">
                            <mat-label>Nombre y Apellido:</mat-label>
                            <input matInput type="user" formControlName="user" placeholder="Nombre y Apellido" required>
                        </mat-form-field>
                    </div>
                    <mat-divider></mat-divider>
                    <h4>Opciones: </h4>
                    <mat-list role="list" [multiple]="false" class="margin-top-small" formArrayName="votos">
                        <!-- <mat-list-item *ngFor="let opcion of opcionService.options | async" value="opcion.id"  class="font-small"> -->
                        <mat-list-item *ngFor="let voto of form.controls.votos.controls; let i=index" class="font-small"  [formGroupName]="i">
                            <div>
                                {{ dias[opciones[i].dia] }} - {{ opciones[i].hora }}
                            </div>
                            <mat-radio-group aria-label="Select an option" formControlName="valor" class="margin-left">
                                <mat-radio-button class="padding-right" value="1">Si  </mat-radio-button>
                                <mat-radio-button class="padding-right" value="2">Puede ser  </mat-radio-button>
                                <mat-radio-button value="3">No  </mat-radio-button>
                            </mat-radio-group>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button type="submit" color="primary" mat-raised-button ><mat-icon>save</mat-icon>Votar</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>