.card {
    margin: 150px;
    padding:50px;
    max-width: 400px;
}

.content{
    margin-top: 50px;
}
.main-image{
    margin:10px auto;
    width: 100%;
}

.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
    background-size: cover;
}

.line-bottom{
    border-bottom: solid 1px #3f51b5;
}

h4{ 
    color: #3f51b5;
}

.font-small{
    font-size: smaller;
}

.margin-top-small{
    padding-top: 0;
    margin-top: -20px;  
}

.padding-top{
    padding-top: 15px;
}

.padding-small{
    height: 27px;
    margin-bottom: 0px;
}
.padding-small span {
    background-color: #d2d2d2;
    padding: 3px 9px;
    border-radius: 13px;
    margin-right: 10px;
}

.line-top{
    border-top: solid 1px #3f51b5;
}

.mat-list-base .mat-list-item{
    height: 35px;
    margin-bottom: 15px;
}

.paddin-card{
    padding: 10px;
}


.full-width-input {
    width: 100%;
}

.margin-left{
    margin-left: 10px;
}
.padding-right{
    padding-right: 5px;
    margin-right: 5px;
    border-right: solid 1px #3f51b5;
}

.login-wrapper {
    margin-top: 30px;
  }
  
  .form .full-width,
  .form .btn-block {
    width: 100%;
    margin-top: 15px;
  }
  
  mat-card{
    width: 80%;
}